In [6]:
# connect to duckdb
import duckdb
import pandas as pd

In [7]:
# connect to duckdb
con = duckdb.connect(database='../isrecon.duckdb')

In [8]:
# Execute a query to get all table names
tables = con.execute("SHOW TABLES").fetchall()

# Print the list of table names
for table in tables:
    print(table[0])

authors
citations
entities
keywords
ontology
papers
sentences
sources
synonyms

In [9]:
# Get all sentences
#result = con.execute("SELECT COUNT(*) FROM sentences").fetchall()
result = con.execute("SELECT sentence FROM sentences").fetchdf()

In [ ]:
result

                                                  sentence
0        Examining interdependence between product user...
1        Abstract. Firm - sponsored online user communi...
2        Product users and host firm employees comprise...
3        The online user community provides a forum whe...
4        Extant research on online user communities has...
...                                                    ...
8316826                                              .012
8316827                                              .012
8316828                                             À.005
8316829                                         À.523 * *
8316830                                            Note :

[8316831 rows x 1 columns]

In [10]:
#result.to_pickle("../resources/sentences_raw.pkl")

In [11]:
# Close the connection
con.close()